.ais-InstantSearch {
  margin-top: 3em;
  margin-left: 2em;
}

.hit-name {
  margin-bottom: 0.5em;
}

.hit-description {
  color: grey;
  margin-bottom: 0.5em;
  overflow: hidden;
  /* font-size: 20px; */
  max-height: 360px;
  line-height: 20px;
  overflow-y: scroll;
  /* overflow-x: scroll; */
}

.hit-passage {
  color: grey;
  margin-bottom: 0.5em;
  overflow: hidden;
  height: 120px;
  /* font-size: 20px; */
  line-height: 20px;
  overflow-y: scroll;
  /* overflow-x: scroll; */
}

.hit-info {
  font-size: 20px;
}
.ais-Hits-item {
  margin-bottom: 1em;
  width: calc(25% - 1rem);
}

.stats {
  margin-top: 2em;
}
