.ais-InstantSearch {
  margin-top: 3em;
  margin-left: 2em;
}

.left-panel {
  float: left;
  width: 200px;
}

.right-panel {
  margin-left: 210px;
}

.ais-Hits-item {
  margin-bottom: 1em;
  width: calc(10% - 1rem);
}

.stats {
  margin-top: 2em;
}